<h1>Tasks</h1>
<% @tasks.each do |task| %>
  <p> <%= check_box_tag task.title,"value", task.completed %>
  <%= link_to(task.title, task_path(task)) %></p>
  <%= link_to "Delete", task_path(task),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
<% end  %>





